/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-hover: #1787e0;
  --main-transition: all 0.3s ease-in-out;
  --animation-up: move-up 1.5s infinite alternate-reverse;
  --animation-dowm: move-down 1.5s infinite alternate-reverse;
  --animation-bouncing: bouncing 1.5s infinite;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --main-background-color: #ececec;
  --main-box-shadow: 10px 12px 100px 10px rgb(255, 255, 255) inset;
  --main-p-color: #777;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  color: #26d381;
  text-decoration: none;
}
a:hover {
  color: #545b6b;
}
p {
  color: #545b6b;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 5px;
}
li a {
  font-size: 17px;
  text-decoration: none;
  color: #26d381;
}
li a:hover {
  color: #545b6b;
}
.info a {
  text-decoration: none;
  font-family: Arial;
  color: #26d381;
  font-size: 15px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*Mobile Screen*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*Tab Screen*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*PC Screen*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
Header
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.header {
  background-color: #fff;
  position: relative;
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 75px;
}
.header .links {
  position: relative;
}
.header .links > .menu {
  font-size: 25px;
  color: var(--main-color);
}
.header .links > ul {
  position: absolute;
  right: 0;
  min-width: 200px;
  background-color: #f6f6f6;
  border-radius: 1rem;
  top: calc(100% + 15px);
  display: none;
}
.header .links > ul::before {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 15px;
  right: 3px;
  border-color: transparent transparent #f6f6f6 transparent;
  top: -25px;
}
.header .links > ul > li > a {
  padding: 10px;
  display: block;
  transition: var(--main-transition);
}
.header .links > ul > li > a:hover {
  padding-left: 30px;
}
.header .links > ul > li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
.active {
  color: var(--main-color);
}
.active:hover {
  padding: 10px !important;
  color: var(--main-color);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
Animation
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
